
  <P align="center">
    <img src="http://postfiles5.naver.net/MjAxNzA2MjlfNTYg/MDAxNDk4NzQ3MzA3ODA3.C_jP9Z3_TK9M_PGC7IoOEv2JcaioL3I1sUs3y1wwbpEg.bgiXj3BiHi-wMTDbxRfd3qtUyqnlW50ZE1oMk5Af7vEg.PNG.annamon20/%EA%B2%8C%EC%8B%9C%ED%8C%90.png?type=w2"
    style="width: 50%" >
  </p>

<div class="container">
 <h3 style="text-align: center">마음껏 작성해주세요. （*´▽｀*） </h3><br>
 
 
 <form action="/write" method="POST">
  <style>
   button[type=submit]{
    background-color: #F17A8C;
    color: white;
    width: 80px;
   }
   
  </style>
  
      <div class="form-group">
          <label for="exampleInputEmail1">닉네임</label>
          <input name = "title" type="text" class="form-control"
          id="exampleInputEmail1" placeholder="닉네임을 써 주세요.">
      </div>
     
      <div class="form-group">
          <label for="exampleInputPassword1">글 내용</label>
          <textarea placeholder= "글을 입력해주세요." name="content" class="form-control"
           rows="5" id="comment"  ></textarea>
      </div>
      
      <button type="submit" class="btn btn-default">전송</button> 
 </form>
</div>