
  <P align="center">
    <img src="http://postfiles5.naver.net/MjAxNzA2MjlfNTYg/MDAxNDk4NzQ3MzA3ODA3.C_jP9Z3_TK9M_PGC7IoOEv2JcaioL3I1sUs3y1wwbpEg.bgiXj3BiHi-wMTDbxRfd3qtUyqnlW50ZE1oMk5Af7vEg.PNG.annamon20/%EA%B2%8C%EC%8B%9C%ED%8C%90.png?type=w2"
    style="width: 50%" >
  </p>


<h3 style="text-align: center">작성되었습니다. （*´▽｀*） </h3><br>

<P align="center">
    <img src="http://postfiles14.naver.net/MjAxNzA2MzBfNDYg/MDAxNDk4NzUwMDg0MjQ4.Ziu9K0HGP1ceiMToHyT4iMGHRUix9lo6aXJKWgxmyLQg.fJernsX8LijNEnUOzGmdb6Q-LO4WptuQuWXbRnfRgukg.PNG.annamon20/%EA%B2%8C%EC%8B%9C%ED%8C%902.png?type=w2"
    style="width: 80%" >
  </p>
<h4 style="padding: 0px 12% 0px 12%; color: #F17A8C">닉네임<span style="color: black"> : <%= @title %> </span></h4>

  <P align="center">
    <img src="http://postfiles14.naver.net/MjAxNzA2MzBfNDYg/MDAxNDk4NzUwMDg0MjQ4.Ziu9K0HGP1ceiMToHyT4iMGHRUix9lo6aXJKWgxmyLQg.fJernsX8LijNEnUOzGmdb6Q-LO4WptuQuWXbRnfRgukg.PNG.annamon20/%EA%B2%8C%EC%8B%9C%ED%8C%902.png?type=w2"
    style="width: 80%" >
  </p>
<p style="padding: 0px 12% 0px 12%; color: #F17A8C; font-size: 20px">글내용 <span style="color: black"> : <%= @content %> </span></p>
